# {{project_name}}

[![PyPI - Version](https://img.shields.io/pypi/v/{{project_name}}.svg)](https://pypi.org/project/{{project_name}})
[![PyPI - Python Version](https://img.shields.io/pypi/pyversions/{{project_name}}.svg)](https://pypi.org/project/{{project_name}})
![GitHub License](https://img.shields.io/github/license/m-birke/{{project_name}})

-----

{{project_description}}

## Table of Contents

- [Usage](#usage)
- [License](#license)

## Usage

```python
# TODO
```

## License

`{{project_name}}` is distributed under the terms of the [MIT](https://spdx.org/licenses/MIT.html) license.
