# {{project_name}}

|     |     |
| --- | --- |
| Version | [![PyPI - Version](https://img.shields.io/pypi/v/{{project_name}}.svg)](https://pypi.org/project/{{project_name}}) [![PyPI - Python Version](https://img.shields.io/pypi/pyversions/{{project_name}}.svg)](https://pypi.org/project/{{project_name}}) |
| Project | ![GitHub License](https://img.shields.io/github/license/m-birke/{{project_name}}) ![PyPI - Status](https://img.shields.io/pypi/status/{{project_name}}) ![PyPI - Format](https://img.shields.io/pypi/format/{{project_name}}) ![PyPI - Implementation](https://img.shields.io/pypi/implementation/{{project_name}}) |
| CI | ![GitHub Actions Workflow Status](https://img.shields.io/github/actions/workflow/status/m-birke/{{project_name}}/static-code-check.yml) |
| Code | ![PyPI - Types](https://img.shields.io/pypi/types/{{project_name}}) [![Checked with mypy](https://www.mypy-lang.org/static/mypy_badge.svg)](https://mypy-lang.org/) [![Linting: Ruff](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/charliermarsh/ruff/main/assets/badge/v2.json)](https://github.com/astral-sh/ruff) [![Code style: black](https://img.shields.io/badge/code%20style-black-000000.svg)](https://github.com/psf/black) |

-----

{{project_description}}

## Table of Contents

- [Usage](#usage)
- [License](#license)

## Usage

```python
# TODO
```

## License

`{{project_name}}` is distributed under the terms of the [MIT](https://spdx.org/licenses/MIT.html) license.
