# {{project_name}}

![GitHub Actions Workflow Status](https://img.shields.io/github/actions/workflow/status/m-birke/{{project_name}}/static-code-check.yml)
[![PyPI - Version](https://img.shields.io/pypi/v/{{project_name}}.svg)](https://pypi.org/project/{{project_name}})
[![PyPI - Python Version](https://img.shields.io/pypi/pyversions/{{project_name}}.svg)](https://pypi.org/project/{{project_name}})
![GitHub License](https://img.shields.io/github/license/m-birke/{{project_name}})
![PyPI - Status](https://img.shields.io/pypi/status/{{project_name}})
![PyPI - Format](https://img.shields.io/pypi/format/{{project_name}})
![PyPI - Types](https://img.shields.io/pypi/types/{{project_name}})
![PyPI - Implementation](https://img.shields.io/pypi/implementation/{{project_name}})

-----

{{project_description}}

## Table of Contents

- [Usage](#usage)
- [License](#license)

## Usage

```python
# TODO
```

## License

`{{project_name}}` is distributed under the terms of the [MIT](https://spdx.org/licenses/MIT.html) license.
